In [0]:
x=5
y=10
print(x+y)

15

In [0]:
# num= [1,2,3,4,5]
# print(sum(num))

In [0]:
#calculate average
# a=[1,2,3,4,5]
# print(sum(a)/len(a))

In [0]:
my_dict = {"name": "alice", "age": 25}
print(my_dict["name"])
my_dict["age"] = 26
print(my_dict.keys())
print(my_dict.values())

alice
dict_keys(['name', 'age'])
dict_values(['alice', 26])

In [0]:
my_set = {1,2,3,4,5}
my_set.add(6)
print(my_set)
my_set.update([2,7,8])
print(my_set)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6, 7, 8}

In [0]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("PythonDF").getOrCreate()
# Creating DataFrame from list of tuples
data = [(1,
"Alice"), (2, "Bob"), (3, "Carol")]
df = spark. createDataFrame(data, ["id", "name"])
df. show( )

+---+-----+
| id| name|
+---+-----+
|  1|Alice|
|  2|  Bob|
|  3|Carol|
+---+-----+

In [0]:
# Select specific columns
df.select("name").show()

# Filter rows
df.filter(df["id"] > 1).show()

# Count rows
print(df.count())

# Describe summary statistics (numeric columns)
df.describe().show()

# Add new column with literal value
from pyspark.sql.functions import lit
df = df.withColumn("country", lit("India"))
df.show()

+-----+
| name|
+-----+
|Alice|
|  Bob|
|Carol|
+-----+

+---+-----+
| id| name|
+---+-----+
|  2|  Bob|
|  3|Carol|
+---+-----+

3
+-------+---+-----+
|summary| id| name|
+-------+---+-----+
|  count|  3|    3|
|   mean|2.0| null|
| stddev|1.0| null|
|    min|  1|Alice|
|    max|  3|Carol|
+-------+---+-----+

+---+-----+-------+
| id| name|country|
+---+-----+-------+
|  1|Alice|  India|
|  2|  Bob|  India|
|  3|Carol|  India|
+---+-----+-------+

In [0]:
sales_data = [
    ("2024-01-01", "North", "Product A", 10, 200.0),
    ("2024-01-01", "South", "Product B", 5 , 300.0),
    ("2024-01-02", "North", "Product A", 20, 400.0),
    ("2024-01-02", "South", "Product B", 10, 600.0),
    ("2024-01-03", "East", "Product C", 15, 375.0),
]
columns = ["date", "region", "product", "quantity", "revenue"]
sales_df = spark.createDataFrame(sales_data, columns)
sales_df.show()

# Calculate total revenue per product
from pyspark.sql.functions import sum

#total revenue by product
total_revenue_prod = sales_df.groupBy("product").agg(sum("revenue").alias("total_revenue_prod"))
total_revenue_prod.show()

#total revenue by region
total_revenue_region = sales_df.groupBy("region").agg(sum("quantity").alias("total_quantity"),
sum("revenue").alias("total_revenue"))
total_revenue_region.show()

from pyspark.sql.functions import avg
# Calculate average revenue per product
sales_df.groupBy("product").agg(
(sum ("revenue") / sum("quantity")).alias("avg_revenue")
).show()

from pyspark.sql.functions import max

# Calculate total revenue per region and get the region with the highest revenue
top_region_df = (
    sales_df.groupBy("region")
    .agg(max("revenue").alias("total_revenue"))
    .orderBy("total_revenue", ascending=False)
    .limit(1)
)

top_region_df.show()

sales_df.printSchema()

+----------+------+---------+--------+-------+
|      date|region|  product|quantity|revenue|
+----------+------+---------+--------+-------+
|2024-01-01| North|Product A|      10|  200.0|
|2024-01-01| South|Product B|       5|  300.0|
|2024-01-02| North|Product A|      20|  400.0|
|2024-01-02| South|Product B|      10|  600.0|
|2024-01-03|  East|Product C|      15|  375.0|
+----------+------+---------+--------+-------+

+---------+------------------+
|  product|total_revenue_prod|
+---------+------------------+
|Product A|             600.0|
|Product B|             900.0|
|Product C|             375.0|
+---------+------------------+

+------+--------------+-------------+
|region|total_quantity|total_revenue|
+------+--------------+-------------+
| North|            30|        600.0|
| South|            15|        900.0|
|  East|            15|        375.0|
+------+--------------+-------------+

+---------+-----------+
|  product|avg_revenue|
+---------+-----------+
|Product A|       20.0|
|Product B|       60.0|
|Product C|       25.0|
+---------+-----------+

+------+-------------+
|region|total_revenue|
+------+-------------+
| South|        600.0|
+------+-------------+

root
 |-- date: string (nullable = true)
 |-- region: string (nullable = true)
 |-- product: string (nullable = true)
 |-- quantity: long (nullable = true)
 |-- revenue: double (nullable = true)

In [0]:
from pyspark.sql.functions import sum

display (sales_df.groupBy("product").agg(sum("revenue")))

product,sum(revenue)
Product A,600.0
Product B,900.0
Product C,375.0